

$primary: #0EEDED;
$light: rgb(255, 251, 250);
$danger: #F50A0A;
$warning: #F04848;
$info: #ebd409;
.bg-gradient-orange {
    background-image: linear-gradient(to right, $danger, $light 70%, $light 100%);
}



@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Pacifico&display=swap');

*, body {
    font-family: 'Monserrat', sans-serif;
}